header {
    font-family: "Liberation Mono", monospace;
    font-weight: bold;
    background-color: ;
    color: LawnGreen;
    padding: 6px;
    font-size: 20pt;
}


body {
    background-image: url("space.png");
}

h1 {
    color: black;
    margin-left 20px;
}
