
body {
    background-color: darkseagreen;
}


h1 {
    color: lightgray;
    font-weight: bold;
    background-color: mediumseagreen;
    padding: 10px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    border-style: double;
    border-width: 8px;
    border-color: seagreen;
}

h2 {
    font-family: "Liberation Mono", monospace;
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 16pt;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
}

ul {
    font-family: "Liberation Mono", monospace;
    color: black;
    font-size: 12pt;
    margin-left: 35px;
    margin-right: 35px;
    list-style-type: square;
}

p {
    font-family: "Liberation Mono", monospace;
    color: black;
    font-size: 12pt;
    margin-left: 35px;
    margin-right: 35px;
}

a.nav:link {
    color: lightgray;
}
a.nav:visited {
    color: lightgray;
}
a.nav:hover {
    color: darkgray;
}
a.nav:active {
    color: gray
}

a:link {
    color: mediumseagreen;
}
a:visited {
    color: mediumseagreen;
}
a:hover {
    color: darkseagreen;
}
a:active {
    color: seagreen;
}

.block {
    margin-top: 50px;
    background-color: lightgray;
    padding: 6px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: double;
    border-color: darkgray;
    border-width: 8px;
}
}
